data
eslint.config.js
index.html
package.json
public
src
vite.config.js  
I-am-a-developer.md  
node_modules 
package-lock.json
README.md  
tailwind.config.js
eslint.config.js
vite.config.js  
yarn.lock
I-am-a-developer.md
index.html